<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Хорошие вопросы</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <div class="header">
    <div class="container">
      <div class="header-logo">
        <h1 class="header-title"><%= link_to "Хорошие вопросы", root_path %></h1>
      </div>

      <%# Выводим в хэдере информацию для логина/авторизации/регистрации %>
      <div class="header-nav">
        <%# Если есть текущий юзер (значит он залогинен) %>
        <% if current_user %>
          <%# Даем ссылки на его профиль и на логаут %>
          <%= link_to "@#{current_user.username}", user_path(current_user) %> |
          <%= link_to 'Выйти', log_out_path %>
        <% else %>
          <%# Если нету — ссылки на регистрацию и логин %>
          <%= link_to 'Зарегистрироваться', sign_up_path,
                      class: 'button button-light button-small' %>
          <%= link_to 'Войти', log_in_path,
                      class: 'button button-light button-small' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <%# Выводим сообщение об ошибке или уведомление для пользователя. %>
      <%# Если в объеккте flash есть что-то, выводим содержимое на страницу, %>
      <%# если нет, игнорируем этот блок. %>
      <% if flash.any? %>
        <div class="content-wrapper buffer-both">
          <% flash.each do |name, message| %>
            <%= content_tag :div, message, class: "flash-#{name}" %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>

  </body>
</html>
